<mat-list *ngIf="menuItems.length != 0">
    <mat-card
        *ngFor="let mo of menuItems"
        [ngClass]="selectedDocumentId == mo.id ? 'selected-menu-item' : 'unselected-menu-item'"
    >
        <mat-list-item (click)="menuItemClicked(mo.id)" class="sidenav-menu-item">
            {{ mo.id }}
            <div class="document-name">{{ mo.label }}</div>
            <div class="delete-document" (click)="deleteClicked($event, mo.id)">DELETE</div>
        </mat-list-item>
    </mat-card>
</mat-list>
<div class="spinner-wrapper" *ngIf="menuItems.length == 0">
    <app-gears-spinner [gearsSpinnerWidth]="150"></app-gears-spinner>
</div>
