@import "../../common.scss";

.sidenav-menu-item {
    display: block;
    min-height: 70px;
}

.menu-item-wrapper {
    border: 1px solid blue;
}

mat-card {
    margin-bottom: 8px;
    border-radius: $small-rounded-border-radius;
}
