@import "../../common.scss";

.sidenav-menu-item {
    display: block;
    min-height: 70px;
}

.menu-item-wrapper {
    border: 1px solid blue;
}

.selected-menu-item {
    background-color: $selection-color;
}

.unselected-menu-item {
}

mat-card {
    margin-bottom: 8px;
    border-radius: $small-rounded-border-radius;
}
