@use "@angular/material/theming" as theming;
@use "@angular/material" as mat;

@import "../../common.scss";
@import "../../theme/tema.scss";

.sidenav-menu-item {
    display: flex;
    align-items: center;
    min-height: 90px;
    padding-right: 0px;
}

.menu-item-wrapper {
    border: 1px solid blue;
}

mat-card {
    margin-bottom: 8px;
    border-radius: $small-rounded-border-radius;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 0 10px $box-shadow-color;
}

.delete-document,
.request-report-button {
    display: inherit;
    float: left;
    position: relative;
    font-weight: bolder;
    align-items: center;
    height: 100px;
    transition: transform 400ms;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.delete-document {
    left: 65px;
    background-color: mat.get-color-from-palette($evahub-light-accent, 300);
    font-weight: bolder;
}

.request-report-button {
    position: absolute;
    left: 251px;
    background-color: mat.get-color-from-palette($evahub-light-primary, 300);
}

.buttons-wrapper {
    display: inherit;
}

.buttons-wrapper:hover {
    .delete-document {
        transform: translateX(-65px);
    }

    .request-report-button {
        transform: translateX(-140px);
    }
}

.document-name {
    float: left;
    display: inherit;
    width: -webkit-fill-available;
}

.selected-menu-item {
    background-color: mat.get-color-from-palette($evahub-light-primary, 400);
    color: mat.get-color-from-palette($evahub-light-primary, default-contrast) !important;
}

.unselected-menu-item {
    background-color: white;
}

.selected-menu-item,
.unselected-menu-item {
    padding-bottom: 0;
    padding-top: 0;
    overflow: hidden;
    padding-right: 0px;
}

.elements-wrapper {
    display: flex;
    div {
        align-items: center;
    }
}
