<mat-list *ngIf="!shouldDisplaySpinner">
    <mat-card
        *ngFor="let mo of menuItems"
        [ngClass]="selectedDocumentId == mo.id ? 'selected-menu-item' : 'unselected-menu-item'"
    >
        <mat-list-item (click)="menuItemClicked(mo.id)" class="sidenav-menu-item">
            <div class="elements-wrapper">
                <div class="document-name">{{ mo.id }} {{ mo.label }}</div>
                <span class="buttons-wrapper">
                    <div class="request-report-button" (click)="requestReportClicked($event, mo.id)">
                        REQUEST <br />
                        REPORT
                    </div>
                    <div class="delete-document" (click)="deleteClicked($event, mo.id)">DELETE</div>
                </span>
            </div>
        </mat-list-item>
    </mat-card>
</mat-list>
<div class="spinner-wrapper" *ngIf="shouldDisplaySpinner">
    <evahub-gears-spinner [gearsSpinnerWidth]="150"></evahub-gears-spinner>
</div>
