<div
    *ngIf="{
        username: username$ | async,
        isLoggedIn: isLoggedIn$ | async,
        isSidenavOpened: isSidenavOpened$ | async,
        menuOptions: sidenavMenuOptions$ | async,
        currentDocumentSet: currentDocumentSet$ | async,
        currentPageIndex: currentPageIndex$ | async,
        currentDocumentId: currentDocumentId$ | async
    } as asyncData"
>
    <mat-toolbar>
        <span class="title">{{ title }}</span>
        <evahub-main-menu
            (itemClickedEmit)="goTo($event)"
            [cpi]="asyncData.currentPageIndex"
            [menuItems]="mainMenuItems"
        ></evahub-main-menu>

        <mat-icon
            *ngIf="asyncData.isLoggedIn"
            (click)="sidenav.toggle()"
            aria-hidden="false"
            aria-label="Home icon"
            >menu</mat-icon
        >

        <div class="right-pusher"></div>
        <div class="username mat-button">{{ asyncData.username }}</div>
        <button *ngIf="asyncData.isLoggedIn" mat-raised-button color="primary" (click)="logOut()">
            Log out
        </button>
    </mat-toolbar>
    <mat-sidenav-container class="main-container">
        <mat-sidenav
            class="main-sidenav"
            #sidenav
            mode="side"
            [(opened)]="asyncData.isSidenavOpened"
        >
            <evahub-sidenav
                (emitItemClicked)="menuItemClicked($event)"
                [menuOptions]="asyncData.menuOptions"
                [selectedDocumentId]="asyncData.currentDocumentId"
            ></evahub-sidenav>
        </mat-sidenav>

        <mat-sidenav-content [ngStyle]="{ left: asyncData.isSidenavOpened ? '1px' : '-3px' }">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
