@import "../common.scss";

.main-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-sidenav {
    padding: 10px;
    margin-right: 20px;
    border-radius: $regular-rounded-border-radius;
    margin-top: 10px;
    height: 100%;
    min-width: 320px;
}

mat-grid-tile {
    background-color: $global-background-color;
    margin: 10px;
    border-radius: $regular-rounded-border-radius;
}

.mat-grid-list {
    position: initial;
}

.mat-drawer-container {
    background-color: $default-background-color;
}

.main-container {
    width: 100%;
    height: 100%;
    margin: 10px;
    padding-right: 33px;
}

.toggle-sidenav-button {
    z-index: 1;
}

.right-pusher {
    display: inherit;
    flex: 1 1 auto;
}

.username {
    margin-right: 10px;
}

.title {
    margin-right: 20px;
}

.main-wrapper-div {
    height: 85%;
}

.evahub-main-menu {
    min-width: 50%;
}
