<div
    *ngIf="{
        username: username$ | async,
        isLoggedIn: isLoggedIn$ | async,
        isSidenavOpened: isSidenavOpened$ | async,
        menuItems: sidenavMenuItems$ | async,
        currentDocumentSet: currentDocumentSet$ | async,
        currentPageIndex: currentPageIndex$ | async,
        currentDocumentId: currentDocumentId$ | async,
        mainMenuItems: mainMenuItems$ | async,
        shouldDisplayRegisterButton: shouldDisplayRegisterButton$ | async,
        shouldDisplayLoginButton: shouldDisplayLoginButton$ | async,
        shouldDisplaySidenavSpinner: shouldDisplaySidenavSpinner$ | async,
        smicd: smicd$ | async,
        ddcd: ddcd$ | async,
        currentDocumentType: currentDocumentType$ | async,
        isInDocumentUploadMode: isInDocumentUploadMode$ | async,
        isInNewProjectCreationMode: isInNewProjectCreationMode$ | async,
        disengageCreationMode: disengageCreationMode$ | async,
        updateDocumentsSetFromApiDerived: updateDocumentsSetFromApiDerived$ | async
    } as asyncData"
    class="main-wrapper-div"
>
    <mat-toolbar class="main-menu">
        <a href="/">
            <span class="title">{{ title }}</span>
        </a>
        <evahub-main-menu
            class="evahub-main-menu"
            *ngIf="asyncData.isLoggedIn"
            [isLoggedIn]="asyncData.isLoggedIn"
            (emitToggleSidenav)="sidenav.toggle()"
            (mainMenuItemClickedEmit)="goTo($event)"
            [cpi]="asyncData.currentPageIndex"
            [menuItems]="asyncData.mainMenuItems"
        ></evahub-main-menu>

        <div class="right-pusher"></div>
        <div class="username mat-button">{{ asyncData.username }}</div>
        <button *ngIf="asyncData.isLoggedIn" mat-raised-button color="primary" (click)="logOut()">Log out</button>
        <button
            *ngIf="asyncData.shouldDisplayRegisterButton"
            mat-raised-button
            color="primary"
            (click)="goTo('register')"
        >
            Register
        </button>
        <button
            *ngIf="asyncData.shouldDisplayLoginButton"
            mat-raised-button
            color="primary"
            (click)="goTo('login')"
        >
            Login
        </button>
    </mat-toolbar>
    <mat-sidenav-container class="main-container">
        <mat-sidenav #sidenav class="main-sidenav" mode="side" [(opened)]="asyncData.isSidenavOpened">
            <evahub-sidenav
                (emitItemClicked)="sideMenuItemClicked($event)"
                (emitDeleteItemClicked)="deleteMenuItemClicked($event)"
                [menuItems]="asyncData.menuItems"
                [selectedDocumentId]="asyncData.currentDocumentId"
                [shouldDisplaySpinner]="asyncData.shouldDisplaySidenavSpinner"
                [isInDocumentUploadMode]="asyncData.isInDocumentUploadMode"
                [isInNewProjectCreationMode]="asyncData.isInNewProjectCreationMode"
                (emitUploadNewDocumentClicked)="onUploadNewDocumentClicked()"
            ></evahub-sidenav>
        </mat-sidenav>

        <mat-sidenav-content [ngStyle]="{ left: asyncData.isSidenavOpened ? '1px' : '-3px' }">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
