<p>home works!</p>
<input type="button"
  (click)="logout()"
  value="Log out">

<div *ngIf="{
  un: username$ | async

} as asyncData">

  username: {{ asyncData.un }}
</div>
<div>
  <button mat-button>farog</button>
  <!--
  <mat-slider min="1"
    max="100"
    step="1"
    value="50"></mat-slider>
  -->

  <mat-slider thumbLabel
    tickInterval="1000"
    step="1000"
    min="0"
    max="100000"
    aria-label="units"></mat-slider>
</div>


<div class="example-input-wrapper">
  <label for="duration">Animation duration:</label>
  <input id="duration"
    value="2000"
    type="number"
    min="0"
    step="100"
    #duration>
</div>

<mat-vertical-stepper [linear]="false"
  #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <input matInput
          placeholder="Last name, First name"
          formControlName="firstCtrl"
          required>
      </mat-form-field>
      <div>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input matInput
          placeholder="Address"
          formControlName="secondCtrl"
          required>
      </mat-form-field>
      <div>
        <button mat-button
          matStepperPrevious>Back</button>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button
        matStepperPrevious>Back</button>
      <button mat-button
        (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>