<div *ngIf="{ projectName: projectName$ | async, projectDescription: projectDescription$ | async } as asyncData">
    <mat-card class="new-project-form-area">
        Please enter the basic information about your project:

        <div class="project-form-wrapper">
            <form [formGroup]="theForm">
                <ng-template matStepLabel>Enter project name</ng-template>
                <mat-form-field class="project-field">
                    <input
                        matInput
                        placeholder="Project name"
                        formControlName="projectName"
                        [ngClass]="{ 'is-invalid': submitted && f['projectName'].errors }"
                    />
                </mat-form-field>
                <div *ngIf="submitted && f['projectName'].errors" class="invalid-feedback">
                    <div *ngIf="f['projectName'].errors['required']">Project name is required</div>
                </div>

                <ng-template matStepLabel>Enter project description</ng-template>
                <mat-form-field class="project-field">
                    <input
                        cdkTextareaAutosize
                        matInput
                        placeholder="Project description"
                        formControlName="projectDescription"
                    />
                </mat-form-field>
            </form>

            <div class="thanks" *ngIf="submitted && !loading">Thanks</div>
        </div>
        Select the logs for your project:
        <mat-chip-listbox selectable multiple class="lista mat-mdc-chip-set-stacked" aria-label="Color selection">
            <mat-chip-option
                *ngFor="let ls of logSelections"
                [selected]="ls.selected"
                (click)="ls.selected = !ls.selected"
                (selectionChange)="onChipsSelectionChange(ls.log.logId)"
                [color]="'primary'"
            >
                {{ ls.log.logName }} {{ ls.log.logId }}
            </mat-chip-option>
        </mat-chip-listbox>

        <img
            *ngIf="loading"
            class="pl-2"
            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />

        <div>
            <button mat-raised-button color="primary" [disabled]="this.theForm.invalid" (click)="onSubmit()">
                Submit
            </button>
        </div>
    </mat-card>
</div>
