<div class="main-menu-wrapper">
    <div *ngFor="let mi of mainMenuItems">
        <button
            *ngIf="!(mi.index == pageSelected)"
            mat-button
            color="basic"
            (click)="itemClicked(mi)"
        >
            {{ mi.label }}
        </button>
        <button
            *ngIf="mi.index == pageSelected"
            mat-raised-button
            color="primary"
            (click)="itemClicked(mi)"
        >
            {{ mi.label }}
        </button>
    </div>
</div>
