<div class="main-menu-wrapper">
    <div class="main-menu-item" *ngFor="let mi of mainMenuItems">
        <button
            *ngIf="!(mi.index == pageSelected)"
            mat-button
            [ngClass]="['unselected-menu-item']"
            color="basic"
            (click)="itemClicked(mi)"
        >
            {{ mi.label }}
        </button>
        <button
            *ngIf="mi.index == pageSelected"
            mat-raised-button
            [ngClass]="['selected-menu-item']"
            color="primary"
            (click)="itemClicked(mi)"
        >
            {{ mi.label }}
        </button>
    </div>
</div>
