<div class="main-menu-wrapper">
    <ng-container *ngFor="let mi of mainMenuItems">
        <button
            class="main-menu-item"
            *ngIf="!(mi.pageIndex == pageSelected)"
            mat-button
            color="basic"
            (click)="itemClicked(mi)"
        >
            {{ mi.label }}
        </button>
        <button
            class="main-menu-item"
            *ngIf="mi.pageIndex == pageSelected"
            mat-raised-button
            color="primary"
            (click)="itemClicked(mi)"
        >
            {{ mi.label }}
        </button>
    </ng-container>
</div>
