@import "../../common.scss";

.main-menu-wrapper {
    display: flex;
    min-width: 500px;
}

.main-menu-item {
    display: flex;
    flex: 1;
    padding: 0 !important;
}

.main-menu-item.mat-primary {
    color: $regular-text-color;
    background-color: $main-menu-button-color !important;
}
