@import "../../common.scss";

.main-menu-wrapper {
    display: flex;
}

.main-menu-item {
    display: flex;
    flex: 1;
    padding: 0 !important;
    text-wrap: wrap;
    line-height: 15px;
}

.main-menu-item.mat-primary {
    color: $regular-text-color;
    background-color: $main-menu-button-color !important;
}

.main-menu-item.icon {
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    place-content: center;
    flex: 0.3;
}
