@use "@angular/material" as mat;
@import "./theme/tema.scss";

$default-background-color: #c8e5f5;
$selection-color: rgb(242, 213, 133);
$hover-color: lightyellow;

$regular-rounded-border-radius: 11px;
$small-rounded-border-radius: 8px;

$global-background-color: whitesmoke;
//$global-background-color: brown;

$color-button-general: #3f51b5;

$box-shadow-color: lightgrey;

// DOCUMENTS PAGE
.mat-grid-tile-content {
    padding: 20px !important;
    display: block !important;
    overflow: scroll;
}

// BUTTONS
.mat-raised-button {
    border-radius: $small-rounded-border-radius;
}

$unselected-item-color: white;

$regular-text-color: black;

$main-menu-button-color: mat.get-color-from-palette($evahub-light-primary, 300);

// MATERIAL CHIPS

.mat-mdc-chip-set-stacked .mat-mdc-chip {
    display: block;
    width: fit-content !important;
}

.mat-mdc-chip-set .mdc-evolution-chip-set__chips {
    display: block !important;
}
