//$background-color: #eef5f9;
$background-color: #c8e5f5;

$regular-rounded-border-radius: 11px;
$small-rounded-border-radius: 8px;

$global-background-color: whitesmoke;

$selection-color: lightyellow;
