$default-background-color: #c8e5f5;
$selection-color: lightyellow;

$regular-rounded-border-radius: 11px;
$small-rounded-border-radius: 8px;

$global-background-color: whitesmoke;

$color-button-general: #3f51b5;

$box-shadow-color: lightgrey;

// DOCUMENTS PAGE
.mat-grid-tile-content {
    padding: 20px !important;
    display: block !important;
    overflow: scroll;
}

// BUTTONS
.mat-raised-button {
    border-radius: $small-rounded-border-radius;
}
