// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@import "common.scss";

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;

    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $default-background-color;
}

// REPORTS PAGE

.mat-drawer-content {
    left: -5px;
    overflow: initial !important;
}

.mat-drawer-container {
    overflow: visible !important;
}

.mat-toolbar {
    background: $global-background-color;
}

// END REPORTS PAGE

// START MATERIAL MODIFICATIONS

.mat-drawer {
    background: $global-background-color !important;
}

.mat-mdc-raised-button.mat-primary {
    color: white;
}

.mat-mdc-button,
.mat-mdc-outlined-button {
    --mat-mdc-button-persistent-ripple-color: #000;
    --mat-mdc-button-ripple-color: $hover-color;
}

//.mdc-circular-progress__circle-clipper {
//    display: inline-flex;
//    position: relative;
//    width: 50%;
//    height: 100%;
//    overflow: hidden;
//}

// END MATERIAL MODIFICATIONS
