// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@import "common.scss";

/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;

    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $default-background-color;
}

// REPORTS PAGE

.mat-drawer-content {
    left: -5px;
    overflow: initial !important;
}

.mat-drawer-container {
    overflow: visible !important;
}

.mat-toolbar {
    background: $global-background-color;
    display: flex !important;
}

// END REPORTS PAGE

// START MATERIAL MODIFICATIONS

.mat-drawer {
    background: $global-background-color !important;
}

.mat-mdc-raised-button.mat-primary {
    color: $regular-text-color;
}

.mat-mdc-text-field-wrapper {
    background-color: $global-background-color !important;
    box-shadow: 0 0 10px $box-shadow-color !important;
    color: $regular-text-color;
}

.box-shadow-small {
    box-shadow: 0 0 10px $box-shadow-color !important;
}

// select field
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: $regular-text-color !important;
}

.mat-mdc-select-value {
    color: $regular-text-color !important;
}

.mdc-text-field--filled .mdc-line-ripple::after {
    display: none !important;
}

.mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

.mat-mdc-button,
.mat-mdc-outlined-button {
    --mat-mdc-button-persistent-ripple-color: #000;
    --mat-mdc-button-ripple-color: $hover-color;
}

// END MATERIAL MODIFICATIONS

// NEW PROJECT (REPORT) TEMPLATE SIDENAV

.draggable-items div[cdkscrollable] {
    overflow: initial;
}
