@import "../../common.scss";
@import "../app.component.scss";

.doc {
    overflow: scroll;
    height: 100%;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
    margin-top: 0px;
}

.text-document {
    display: contents;
}
