<div
    *ngIf="{
        selectedDocument: selectedDocument$ | async,
        currentPageIndex: currentPageIndex$ | async
    } as asyncData"
>
    <div *ngIf="displayGraph" class="chart-container">
        <canvas id="graph"></canvas>
    </div>
    <div>
        <mat-grid-list rowHeight="fit" gutterSize="15px" cols="6">
            <mat-grid-tile colspan="6">
                <div class="doc" *ngIf="!displayGraph">
                    {{
                        asyncData && asyncData.selectedDocument
                            ? asyncData.selectedDocument.getDocumentContent()
                            : ""
                    }}
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
