<div
    *ngIf="{
        sd: selectedDocument$ | async,
        displayGraph: displayGraph$ | async,
        shouldDisplaySpinner: shouldDisplaydocumentSpinner$ | async,
        datasets: graphDatasets$ | async,
        dcd: dcd$ | async,

    } as asyncData"
>
    <mat-grid-list rowHeight="fit" gutterSize="15px" cols="6">
        <mat-grid-tile colspan="6">
            <div *ngIf="asyncData.displayGraph" class="document-graph">
                <mat-form-field class="box-shadow-small" appearance="fill">
                    <mat-label>Select graph dataset</mat-label>
                    <mat-select
                        [formControl]="graphDatasetsFormControl"
                        (selectionChange)="onGraphDatasetChange($event)"
                        ngDefaultControl
                    >
                        <mat-option
                            *ngFor="let dataset of asyncData.datasets"
                            [value]="dataset['datasetName']"
                            >{{ dataset["datasetName"] }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
                <app-documents-graph
                    [graphLabels]="graphLabels"
                    [graphValues]="graphValues"
                ></app-documents-graph>
            </div>
            <div *ngIf="!asyncData.displayGraph" class="document-text">
                <app-documents-text
                    [documentContent]="asyncData.sd ? asyncData.sd.getDocumentContent() : ''"
                    [shouldDisplaySpinner]="asyncData.shouldDisplaySpinner"
                    (emitContentDisplayed)="onDocumentContentDisplayed()"
                >
                </app-documents-text>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
