@import "../../common.scss";

.example-input-wrapper {
    margin-bottom: 16px;
}

label {
    margin-right: 4px;
}

// Accordion:
.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

// End accordion

.register-content-wrapper {
    left: 9px;
    position: relative;
    top: 10px;
}

.registration-field {
    display: flex;
}

.registration-area {
    margin-left: 15px;
    margin-top: 25px;
    border-radius: $regular-rounded-border-radius;
}

.thanks {
    margin-bottom: 10px;
}

.invalid-feedback {
    color: red;
}
