<mat-card class="registration-area">
    <div
        class="register-content-wrapper"
        *ngIf="{
            registerUsername: registerUsername$ | async,
            registerPassword: registerPassword$ | async,
            registerPasswordConfirmation: registerPasswordConfirmation$ | async,
            firstLastname: firstLastName$ | async,
            email: email$ | async,
            isFormValid: isFormValid$ | async
        } as asyncData"
    >
        <form *ngIf="!isPosted" [formGroup]="theForm">
            <ng-template matStepLabel>Fill out your username</ng-template>
            <mat-form-field>
                <input
                    matInput
                    placeholder="Username"
                    formControlName="registerUsernameFormControl"
                />
            </mat-form-field>

            <ng-template matStepLabel>Fill out your password</ng-template>
            <mat-form-field class="registration-field">
                <input
                    matInput
                    placeholder="Password"
                    formControlName="registerPasswordFormControl"
                />
            </mat-form-field>

            <mat-form-field class="registration-field">
                <input
                    matInput
                    placeholder="Confirm password"
                    formControlName="registerPasswordConfirmationFormControl"
                />
            </mat-form-field>

            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field class="registration-field">
                <input
                    matInput
                    placeholder="Your name"
                    formControlName="firstLastNameFormControl"
                />
            </mat-form-field>

            <ng-template matStepLabel>Fill out your email</ng-template>
            <mat-form-field>
                <input
                    matInput
                    placeholder="Email"
                    formControlName="emailFormControl"
                    value="email"
                />
            </mat-form-field>

            <div>
                <button [disabled]="!asyncData.isFormValid" #done mat-button>Done</button>
            </div>
        </form>

        <div *ngIf="isPosted">
            Thanks. In order to confirm your registration, please click on the link in the
            confirmation email.
        </div>
    </div>
</mat-card>
