@use "@angular/material" as mat;
@import "../common.scss";
@import "./evahub-palette.scss";
@include mat.all-legacy-component-typographies();
@include mat.core();
@include mat.legacy-core();

//$chosen-palette: $evahub-light-palette;
$chosen-palette: mat.$green-palette;

$evahub-light-primary: mat.define-palette($chosen-palette, 500);
$evahub-light-accent: mat.define-palette($chosen-palette, 500);
$evahub-light-warn: mat.define-palette($chosen-palette, 500);

$evahub-theme: mat.define-light-theme(
    (
        color: (
            primary: $evahub-light-primary,
            accent: $evahub-light-accent,
            warn: $evahub-light-warn
        ),
        density: 0
    )
);

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($evahub-theme);

// Emit styles for MatButton based on the given theme. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.button-theme($evahub-theme);
@include mat.all-legacy-component-themes($evahub-theme);
@include mat.all-component-themes($evahub-theme);
