@use "@angular/material" as mat;
@import "../common.scss";
@include mat.all-legacy-component-typographies();
@include mat.core();
@include mat.legacy-core();

$my-primary: mat.define-palette(mat.$deep-orange-palette, 500);
$my-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette, A200, A100, A400);

$evahub-theme: mat.define-light-theme(
    (
        color: (
            primary: $my-primary,
            accent: $my-accent,
            warn: $my-warn
        ),
        density: 0
    )
);

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($evahub-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.button-theme($evahub-theme);
@include mat.all-legacy-component-themes($evahub-theme);
@include mat.all-component-themes($evahub-theme);
